<main class="login">
    <form class="form" id="reg__form">
        <h1>
            Регистрация
        </h1>
        {{#each fields}}
        <span class="registration-form__items" onfocusout="{{ onFocusOut }}">
            <label for="password">{{label}}</label>
            {{{Field  class=../class  ref="field" label=this.label  }}}
        </span>
        {{/each}}

        {{#each buttons}}
            {{{Button  class=this.class  ref="authBtn" label=this.label    type=../type onClick=../onBtnClick}}}
        {{/each}}


    </form>

</main>
