<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mess</title>

    <link rel="stylesheet" href="styles/styles.pcss" />

</head>
<body>
    {{> app }}
    <script defer type="module" src="pages/chat/chat.ts"></script>
</body>
</html>






