<link rel="stylesheet" href="../../styles/styles.pcss"/>
<main class="login">
    <form class="form">
        <h1>
            Регистрация
        </h1>

        <span class="login-form__items" id="login-form__items">

        </span>


        <button class="first-button" name="Sign up">
            <a href="/">
                Зарегистрироваться
            </a>
        </button>


        <button name="Sign in" class="second-button">
            <a href="../chat/chatPage.hbs">
                Войти
            </a>
        </button>


    </form>

</main>
<script defer type="module" src="login.js"></script>
