
<div class="profile-data__row" id="profile-data">
    <label class="bold">{{first}}</label>
    <input name="{{name}}" class="second"  value="{{ fieldValue }}" />
    {{#if req}}
        <span class="error_message">
            {{error}}
        </span>
    {{/if}}
</div>
