<!--<span class="registration-form__items" onfocusout="{{ onFocusOut }}">-->
<!--    <label for="password">{{label}}</label>-->
<!--    <input name="{{name}}" type="text">-->
<!--</span>-->
<input name="{{name}}" type="text">
