

<div>
    <h1>Home page</h1>
    {{{Button  ref="myBtn" label="Click me!" onClick=this.onClick }}}
    {{#Card}}

        {{{Button ref="button" label=btnLabel onClick=onBtnClick type=type}}}
        {{#each buttons}}
            {{{Button label=this.label type=../type onClick=this.onClick}}}
        {{/each}}
    {{/Card}}

</div>

