<main class="auth">
    {{#Form onSubmit=form.onSubmit ref="form"}}
        {{#each fields}}

                    {{{Field
                            onChange=this.onChange
                            onFocusIn=this.onFocusIn
                            onFocusOut=this.onFocusOut
                            class=../class
                            label=this.label
                            ref=this.ref
                    }}}
        {{/each}}
            {{{Button
                    onClick=this.onSubmit
                    class="first-button"
                    ref="submitBtn"
                    label="Авторизоваться"
                    type="submit"
            }}}
            {{{Button
                    onClick=this.onBtnClick
                    class="second-button"
                    ref="signUp"
                    label="Нет аккаунта?"
                    type="button"
            }}}
    {{/Form}}
</main>
